body{
margin:0;
font-family:'Georgia', serif;

display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;
box-sizing:border-box;

/* Checker pixel rosa */
background-color:#f9d6d6;
background-image:
linear-gradient(45deg, #f4bcbc 25%, transparent 25%),
linear-gradient(-45deg, #f4bcbc 25%, transparent 25%),
linear-gradient(45deg, transparent 75%, #f4bcbc 75%),
linear-gradient(-45deg, transparent 75%, #f4bcbc 75%);
background-size: 60px 60px;
background-position: 0 0, 0 30px, 30px -30px, -30px 0px;

}

.card{
width:360px;
background:#FCCFCF;
padding:15px;
box-sizing:border-box;
border:4px solid #FA8493;
box-shadow:8px 8px 0px #000 /* sombra pixel */
}

/* TÍTULO */

.top{
text-align:center;
margin-bottom:15px;
}

.title-block h1{
margin:0;
font-size:22px;
font-weight:bolt;
}

.year{
margin-top:6px;
font-size:18px;
display:flex;
justify-content:center;
align-items:center;
gap:8px;
}

/* CORAZÓN DIGITAL */

.heart{
display:inline-block;
font-size:20px;
animation:heartbeat 1.2s infinite ease-in-out;
}

@keyframes heartbeat{
0% { transform: scale(1); }
50% { transform: scale(1.25); }
100% { transform: scale(1); }
}


/* IMAGEN */

.image-frame{
border:4px solid #000;
margin:15px auto;
width:250px;
height:330px;
overflow:hidden;
background:#fff;
position:relative;
}

.carousel{
position:relative;
width:100%;
height:100%;
}

.carousel img{
position:absolute;
width:100%;
height:100%;
object-fit:cover;
opacity:0;
transition:opacity 0.4s ease-in-out;
}

.carousel img.active{
opacity:1;
}

/* BOTONES RETRO */

.btn{
position:absolute;
top:50%;
transform:translateY(-50%);
background:#FC7284;
color:white;
border:3px solid #000;
padding:6px 10px;
font-size:14px;
cursor:pointer;
box-shadow:4px 4px 0px #000;
transition:all 0.1s ease;
z-index:10;
}

.btn:active{
box-shadow:2px 2px 0px #000;
transform:translateY(-50%) translate(2px,2px);
}

.prev{ left:6px; }
.next{ right:6px; }

/* TEXTOS */

.quote{
text-align:center;
font-style:italic;
font-size:14px;
margin:10px 0;
}

.divider{
height:3px;
background:#000;
margin:10px 0;
}

.resistencia{
text-align:center;
}

.resistencia h2{
font-size:18px;
margin:5px 0;
}

.counter{
font-size:14px;
margin-top:6px;
font-weight:bold;
}

.footer-quote{
margin-top:10px;
border:3px solid #000;
padding:8px;
text-align:center;
background:#ffe5e5;
font-style:italic;
font-size:13px;
}
